@model WhoIsRunningThisWeek.SessionModel

@{
    ViewBag.Title = "Who Is Running This Week";
}
<h2>@ViewBag.Title.</h2>

<p>@Model.Person.Name is running this week on @Model.DateOfSession.Date.ToString("D")</p>