@model WhoIsRunningThisWeek.UpcomingSessionsViewModel

@{
    ViewBag.Title = "Who Is Running This Week";
}

<p style="display: inline-block; width: 100%; font-size: 100vw; font-family: Beigly" >@Model.ThisWeekSession.Person</p>